

*{
  /*border-radius: 20px;*/
  font-family: 'MetropolisRegular'; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  font-size: calc(10px + 2vmin);

  color: white;
  /*margin-bottom: 10px;*/
  padding: 0px;
  border-radius: 0px;
}

h1 {
  margin: 0;
  padding: 0;
}
div {
  /*border-style: solid;*/
}
.mainpage {
  display: flex; /* or inline-flex */
}

.mainpage {
  height: 100vw;
}

.sidebarbutton{
  background-color: rgb(0, 0, 0, 0);
  border-color: #eeeded;
  border-style: none;
  /*border-radius: 0px;*/
  width: 100%;
}

#column1 {
  text-align: left;
   /*padding-top: 10px;*/
   width: 20vw;
   background-color: #d2d2d2;
  
}
#column2 {
  background-color: #fefefe;
  padding-top: 10px;
  width: 180vw;

}

.news{
  margin: 10px;
  border-style: solid;
  border-width: 2px;
}

.row1-custom{
  margin: 100px 0px 0px 0px

}

button {
  background-color: #ffffff; /* Green */
  border: 2px solid #ffffff;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.newsrow{
  margin: 10px 10px 0px 10px;
  font-size: 20px;
  padding-bottom: 0px;
  font-family: "MetropolisExtraBold";
}

.viewarticle{

  border-style: solid;
  border-color: blue;
  border-radius: 10px;
}

.newsrowtext{
  margin: 0px 10px 10px 0px;
  text-align: left;
  padding-top: 0px;
}

#articlebutton{
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchtext{
  padding-left: 15px;
  font-size: 20px;
  display:flex;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.search{
  display:flex;
  align-items: center;
  width: 18%;
  display: inline-block;
  border-radius: 25px;
  border: 2px solid #ffffff;
  /*margin-right: 20px;*/
  align-content:center;
}

.hTitle{
  margin-top: 8px;
  display:flex;
  align-items: center;
  display: inline-block;
  width: 80%;
}

#theHeader{
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}

#search{
  width: 100vw;
  border-radius: 25px;
}

#newsinfo{
  white-space: nowrap;
  margin-left: 10px;
}

.author { 
  display: inline-block; 
  margin-right: 30px;
}

.date { 
  display: inline-block; 
}

.article {
  height: 100px;
  margin-bottom: 10px;
  display:flex;
}

#imageblock{
  width: 180px;
  height: 100px;
  display: block;
  text-align: center;
}

img {
  
  max-width:100%;
  max-height:100%;
}

.modal {
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  justify-content: center;
}

/* Modal Content/Box */
.modal-content {
  font-weight: bolder;
  flex: nowrap;
  font-size: 30px;
  border-radius: 15px;
  background-color: #fefefe;
  margin-top: 18%;
  padding-top: 40px;
  margin-left: auto; /* 15% from the top and centered */
  margin-right: auto;
  height: 400px;
  padding-right: 80px;
  padding-left: 80px;
  border: 1px solid #888;
  width: 10%; /* Could be more or less, depending on screen size */
  text-align: center;
}

.list-container{
  font-size: 25px;
  margin-top: 80px;
  text-align: center;
  align-content: center;
}

/* The Close Button */
.close {
  /*margin-left: 50%;
  margin-right: 50%;*/ /* Half this element's height */
  color: #aaa;
  border-radius: 15px;
  border-color: #000000;
  border-style: solid;
  font-size: 28px;
  font-weight: bold;
  
  position:relative;
  bottom: 0;
}


.text-area{
  margin-top:60px;
  height: 40%;
  border-radius: 15px;
}


.article-content{
  margin-top: 5%;
  width: 74%;
  height: 80%;
  Overflow-y:scroll;
}

.image-container{
  max-width: 100%;
  max-height: 10%;
  margin-bottom: 20px;
}

.article-container{
  margin-top: 20px;
  height: 100%;
}

.article-image{
  max-height: 10%;
  max-width: 10%;
}

.article-text{
  margin-top: 7.5%;
  height: 50%;
  padding: 50px 0px 50px 0px;
  text-align: left;
  /*add horizontal bar option in html*/
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



.recent .all{
  background-color: #c9c9c9;
}
.followed .follow{
  background-color: #c9c9c9;
}

.isCustom .custom {
  background-color: #c9c9c9;
}

button:hover{
  background-color: #c9c9c9;
}

.article:hover {
  background-color: #eeeeee;
}

.search:hover{
  cursor:text;
}

.submit-container {
  margin-top: 32%;
}