

*{
  /*border-radius: 20px;*/
  font-family: 'MetropolisRegular'; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  font-size: calc(10px + 2vmin);

  color: white;
  /*margin-bottom: 10px;*/
  padding: 0px;
  border-radius: 0px;
}

h1 {
  margin: 0;
  padding: 0;
}
div {
  /*border-style: solid;*/
}
.mainpage {
  display: flex; /* or inline-flex */
}

.mainpage {
  height: 100vw;
}

.sidebarbutton{
  background-color: rgb(0, 0, 0, 0);
  border-color: #eeeded;
  border-style: none;
  /*border-radius: 0px;*/
  width: 100%;
}

#column1 {
  text-align: left;
   /*padding-top: 10px;*/
   width: 20vw;
   background-color: #d2d2d2;
  
}
#column2 {
  background-color: #fefefe;
  padding-top: 10px;
  width: 180vw;

}

.news{
  margin: 10px;
  border-style: solid;
  border-width: 2px;
}

.row1-custom{
  margin: 100px 0px 0px 0px

}

button {
  background-color: #ffffff; /* Green */
  border: 2px solid #ffffff;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.newsrow{
  margin: 10px 10px 0px 10px;
  font-size: 20px;
  padding-bottom: 0px;
  font-family: "MetropolisExtraBold";
}

.viewarticle{

  border-style: solid;
  border-color: blue;
  border-radius: 10px;
}

.newsrowtext{
  margin: 0px 10px 10px 10px;
  text-align: left;
  padding-top: 0px;
}

#articlebutton{
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchtext{
  padding-left: 15px;
  font-size: 20px;
}

.search{
  width: 18%;
  display: inline-block;
  border-radius: 25px;
  border: 2px solid #ffffff;
  
  /*margin-right: 20px;*/
}

.hTitle{
  display: inline-block;
  width: 80%;
}

#theHeader{
  white-space: nowrap;
}

#search{
  width: 100vw;
  border-radius: 25px;
}

#newsinfo{
  white-space: nowrap;
  margin-left: 10px;
}

.author { 
  display: inline-block; 
}

.date { 
  display: inline-block; 
  margin-left: 30px;
}

.article {
  height: 100px;

}

#imageblock{
  display: inline-block;
}

#totalnews{
  display: inline-block
}





.recent .all{
  background-color: #c9c9c9;
}
.followed .follow{
  background-color: #c9c9c9;
}

button:hover{
  background-color: #c9c9c9;
}

.article:hover {
  background-color: #eeeeee;
}